* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.overlay {
    background: rgba(0, 0, 0, 0.89);
}

.image {
    background-image: url(img.png);
}

.header {
    height: 100vh;
    width: 100vw;
    color: #f4f4f4;
}

.heading {    
    margin-left: 3vw;
    margin-top: 65vh;
    font-size: 17vw;
    /* letter-spacing: 3px; */
    /* font-family: 'Sen', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Noto Serif', serif;
}

.prop {
    color: #ffda06;
    /* color: #5288fd */
}

.note {
    margin-left: 3vw;
    margin-top: 0px;
    font-size: 5vw;
    color: #666;
    font-weight: 400;
}

.social {
    position: absolute;
    top: 13vh;
    left: 20vw;
}

.down {
    position: absolute;
    left: 40vw;
    bottom: 0px;
}

.aboutMe {
    height: auto;
    width: 100vw;
    background-color: #222;
    padding: 20vw 9vw 20vw 11vw;
    color: #f4f4f4;
    line-height: 30px;
}

.profilepic {
    visibility: hidden;
    height: 0vh;
    width: 0vw;
}

.head {
    font-size: 37px;
    overflow: hidden;
    font-family: 'Sen', sans-serif;
}

.color {
    color: #ffda06;
}

.info {
    color: #999;
    font-size: 17px;
}

.highlight {
    color: #fff;
}

.highlight2 {
    color: #000
}

.education {
    height: auto;
    background-color: #b3b3b3;
    padding: 20vw 10vw 20vw 10vw;
}

.eduhead {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #3e6bca;
    letter-spacing: 4px;
    text-align: center;
    border-bottom: solid;
}

.instituteHead {
    font-family: 'Noto Serif', serif;
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
    color: rgb(19, 17, 17);
}

.eduabout {
    overflow: hidden;
}

.eduinfo {
    text-align: center;
    color: #555;
    font-family: 'Vesper Libre', serif;
    font-size: 18px;
}

.skills {
    height: auto;
    width: 100vw;
    padding: 13vw 10vw 16vw 10vw;
    background-color: #333;
}

.skillHead {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #5288fd;
    letter-spacing: 4px;
    text-align: center;
    border-bottom: solid;
}

.container {
    width: 80vw;
    font-family: 'Vesper Libre', serif;
    color: #f4f4f4;
    font-size: 20px;
    line-height: 40px;
}

.work {
    height: auto;
}

.copyright {
    color: #999999;
    background-color: #222;
    padding: 15px;
    height: auto;
    text-align: center;
}

#img {
    height: 200px;
    width: 120px;
}

.workPic {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
}

.workPic>section {
    padding: 20px;
}

.workhead {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #ffda06;
    letter-spacing: 4px;
    text-align: center;
    border-bottom: solid;
}

.work {
    background-color: #111;
    padding: 15vw 8vw;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

a:active {
    text-decoration: none;
}

@media only screen and (min-width:768px) {

    .image {
        background-image: url(img6.jpg);
    }

    .header {
        height: 100vh;
        width: 100vh;
        overflow: hidden;
    }

    .heading {       
        margin-left: 4vw;
        margin-top: 45vh;
        font-size: 90px;
    }

    .note {       
        margin-left: 4vw;
        font-size: 20px;
        /* height: 50vh; */
    }

    .social {       
        position: absolute;
        top: 35vh;
        left: 5vw;
    }

    .down {       
        position: absolute;
        margin-left: 10vw;
        margin-bottom: 0;
    }

    .aboutMe {
        height: fit-content;
        width: 100vw;
        padding-top: 50px;
        display: flex;
        flex-direction: right;
        padding-bottom: 50px;
        margin:0px;
    }

    .inner {
        width: 50vw;
        margin-left: 30px;
        /* border: solid; */
        height: fit-content;
    }

    .profilepic {
        visibility: visible;
        margin-left: 0px;
        height: fit-content;
        width: 350px;
    }

    .head {
        font-size: 37px;
        overflow: hidden;
    }

    .info {
        font-size: 17px;
    }

    .education {
        height: auto;
        padding: 50px 10vw 10vw 10vw;
        background-color: rgba(153, 153, 153, 0.541);
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .eduhead {
        font-size: 40px;
        letter-spacing: 4px;
        text-align: center;
        margin-left: 5vw;
        margin-top: 50px;
        height: 55px;
        overflow: hidden;
    }

    .institute {
        /* margin-left; */
        padding-top: 8px;
    }

    .instituteHead {
        text-align: center;
        font-size: 25px;
    }

    .eduabout {
        overflow: hidden;
    }

    .eduinfo {
        text-align: center;
        font-size: 18px;
    }

    .skills {
        height: auto;
        width: 100vw;
        padding: 30px 10vw 10vw 10vw;
    }

    .skillHead {
        font-size: 25px;
        letter-spacing: 4px;
        text-align: center;
        border-bottom: solid;
    }

    .container {
        width: 80vw;
        font-size: 20px;
        line-height: 40px;
    }

    .work {
        height: auto;
    }

    .copyright {
        padding: 15px;
        height: auto;
        text-align: center;
    }

    #img {
        height: 200px;
        width: 120px;
    }

    .workPic {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .workPic>section {
        padding: 20px;
    }

    .workhead {
        font-size: 25px;
        letter-spacing: 4px;
        text-align: center;
        border-bottom: solid;
    }

    .work {
        padding: 8vw;
    }

}